extends layout

block append scripts
    script(type='text/javascript', src='/javascripts/index.js')

block append windows

    #rename_popup_modal.m-window__modal(style='display:none')
    #rename_popup.m-window
        .m-window-block
            input#rename_station_id(type='hidden')
            .m-window-header Переименование станции
                a#rename_popup_close.icon16.fa-close.m-window-close
            .m-window-body.m-form
                .m-window-filters-form
                    .m-form-data
                        label.m-form__label(for="inpRename") Новое название
                        input#inpRename.m-form__input.w97p(type="text")
            .m-buttons m-buttons_last
                a#submit_rename.m-button01.w100 Подтвердить
                a#cancel_rename.m-button01.w100 Отменить

block content

    a.add_station_group.m-button01(href='')= 'Добавить группу'
    input.station_group_title(type='text', placeholder='[Название]', style='display:none;')
    a.save_station_group.m-button01(href='', style='display:none;')= 'Добавить'
    a.cancel_station_group.m-button01(href='', style='display:none;')= 'Отменить'
    #tree
   
