doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/fonts.css')
        link(rel='stylesheet', href='/stylesheets/material.css')
        link(rel='stylesheet', href='/stylesheets/lib/jqtree.css')
        block scripts
            script(src='/javascripts/lib/jquery-3.2.1.min.js')
            script(src='/javascripts/lib/tree.jquery.js')
            script(src='/javascripts/layout.js')
    
    body
        .m-page
            block windows

            .m-header
                h1.m-logo
                    a(href='/')= 'EW'

            .m-content
                .g-columns.g-clearfix
                    .g-columns-left
                        .m-menu
                            ul
                                li
                                    a(href='/') Список станций
                                //li
                                    //a(href='/statistics') Статистика
                                //li
                                    //a(href='/faults') Аварии

                    .g-columns-right
                        block content
            
            .m-footer
                .m-copyright
                    p
                        span= 'Система управления станциями'

        #GlobalMessage
