* {padding:0;margin:0}
.g-clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden}

.w100 {width:100px}
.w120 {width:120px}
.w200 {width:200px}
.w220 {width:220px}
.w240 {width:240px}
.w320 {width:320px}
.w420 {width:420px}

.w20p {width:20%}
.w25p {width:25%}
.w30p {width:30%}
.w45p {width:45%}
.w97p {width:97%}

.h86 {height:86px}
.h286 {height:286px}

.icon12 {width:12px;height:12px;display:block;font-family:FontAwesome;font-size:12px;line-height:12px;font-style:normal;text-align:center;cursor:default}
.icon14 {width:14px;height:14px;display:block;font-family:FontAwesome;font-size:14px;line-height:14px;font-style:normal;text-align:center;cursor:default}
.icon16 {width:16px;height:16px;display:block;;font-size:16px;line-height:16px;font-style:normal;text-align:center;cursor:default}
.icon24 {width:24px;height:24px;display:block;font-family:FontAwesome;font-size:24px;line-height:24px;font-style:normal;text-align:center;cursor:default}

html, body {height:101%}
body {font-family:arial,sans-serif;font-size:14px;min-width:1000px}

a {color:#000;text-decoration:none}
a:hover {color:#1c94c4;text-decoration:underline;cursor:pointer}
a:focus {outline:none}
a img {border:0}

/* ---------------------------------------- layouts */

.m-page {}

.m-header {height:128px;position:relative}
.m-content {min-height:640px}
.m-footer {padding:30px 0 0 0}

.g-columns {height:1%;width:100%}
.g-columns-left {width:200px;margin:0 -220px 0 0;float:left}
.g-columns-right {margin:0 20px 0 220px;overflow:hidden}



/* ---------------------------------------- header */

.m-logo {position:absolute;top:0;left:50px}
.m-logo a {width:240px;height:98px;display:block;background:#f5f5f5;color:#7f7f7f;font-size:60px;letter-spacing:-4px;font-weight:700;text-transform:lowercase;line-height:98px;text-align:center;text-decoration:none}
.m-logo a:hover {color:#1c94c4}

.m-auth-menu {position:absolute;top:20px;right:20px;font-size:0}
.m-auth-menu ul {list-style-type:none}
.m-auth-menu ul li {display:inline-block;margin:0 0 0 10px;position:relative;font-size:13px}
.m-auth-menu ul li a {color:#004276;text-decoration:underline}
.m-auth-menu ul li a:hover {color:#1c94c4;text-decoration:none}
.m-auth-menu i {width:32px;height:32px;background:#f2f2f2;border-radius:32px;position:absolute;top:-8px;left:-37px;line-height:32px;cursor:pointer}
.m-auth-menu .chief {color:#1c94c4}
.m-auth-menu .admin {color:#8c0808}
.m-auth-menu .editor {color:#000}

/* ---------------------------------------- content */

.m-menu {padding:0 0 0 50px;margin:0;width:150px;}
.m-menu ul {list-style-type:none}
.m-menu ul li {padding:5px 0 5px 0;margin:0;font-size:13px;text-transform:uppercase}
.m-menu ul li a {color:#004276;text-decoration:underline}
.m-menu ul li a:hover {color:#1c94c4;text-decoration:none}
.m-menu .sep {padding:0;border-top:1px solid #f0f0f0;line-height:3px}
.m-menu .title {color:#888;font-size:11px;font-weight:700}


/* ---------------------------------------- footer */

.m-copyright {padding:40px 0 40px 50px}
.m-copyright p {color:#888;font-size:11px}
.m-copyright p span {background:#888;color:#fff;font-weight:700;font-style:italic;padding:3px 5px}

/* ---------------------------------------- headers */

.m-page h2, .m-page h3, .m-page h4 {font-family:sans-serif;font-weight:400;color:#333;margin:0 0 20px 0;letter-spacing:-1px}

.m-page h2 {font-size:29px;line-height:29px}
.m-page h3 {font-size:27px;line-height:27px}
.m-page h4 {font-size:25px;line-height:25px}

/* ---------------------------------------- buttons */

.m-buttons {font-size:0;position:relative;text-align: center}
.m-buttons_last {padding:10px 0 0 0}

a.m-button01 {display:inline-block;margin:0 10px 0 0;height:30px;font-size:12px;line-height:30px;font-weight:700;color:#000;text-align:center;text-decoration:none;background:#b9b9b9;background:linear-gradient(#f2f2f2, #b9b9b9);border:1px solid #bababa;border-radius:2px}
a.m-button01:hover {background:linear-gradient(#f2f2f2, #c9c9c9);color:#333;text-decoration:none}

a.m-button02 {display:inline-block;margin:0 10px 0 0;height:22px;font-size:11px;line-height:22px;font-weight:700;color:#000;text-align:center;text-decoration:none;background:#b9b9b9;background:linear-gradient(#f2f2f2, #b9b9b9);border:1px solid #bababa;border-radius:2px}
a.m-button02:hover {background:linear-gradient(#f2f2f2, #c9c9c9);color:#333;text-decoration:none}

input.m-button01 {display:inline-block;margin:0 10px 0 0;height:32px;font-family:arial;font-size:12px;line-height:32px;font-weight:700;color:#000;text-align:center;text-decoration:none;background:#b9b9b9;background:linear-gradient(#f2f2f2, #b9b9b9);border:1px solid #bababa;border-radius:2px;cursor:pointer}
input.m-button01:hover {background:linear-gradient(#f2f2f2, #c9c9c9);color:#333}


/* ---------------------------------------- menus */

.m-switch-menu {height:32px;background:#f0f0f0;font-size:0}
.m-switch-menu ul {list-style-type:none}
.m-switch-menu ul li {height:31px;display:inline-block;vertical-align:top;border-bottom:1px solid #bababa}
.m-switch-menu ul li a {height:31px;line-height:31px;display:block;font-size:13px;text-transform:uppercase;text-align:center;color:#000}
.m-switch-menu ul li a:hover {background:#bababa;text-decoration:none}

.m-switch-menu ul li.active {}
.m-switch-menu ul li.active a {border:1px solid #bababa;border-bottom:0;background:#fff}
.m-switch-menu ul li.active a:hover {color:#000}

.m-switch-menu ul li.inactive {}
.m-switch-menu ul li.inactive a {color:#bababa}
.m-switch-menu ul li.inactive a:hover {color:#bababa;background:none}

/* ---------------------------------------- pagination */

.m-pagination-and-page-size {position:relative;font-size:0}

.m-pagination {}
.m-pagination ul {list-style-type:none}
.m-pagination ul li {display:inline-block;font-size:14px;line-height:14px;margin:0 3px 0 0}
.m-pagination ul li a {padding:3px 8px;color:#004276;text-decoration:underline}
.m-pagination ul li a:hover {color:#1c94c4;text-decoration:none}
.m-pagination ul li.active a {background:#f0f0f0;color:#000;text-decoration:none}
.m-pagination ul li.active a:hover {color:#000}

.m-page-size {position:absolute;top:0;right:0}
.m-page-size ul {list-style-type:none}
.m-page-size ul li {display:inline-block;font-size:14px;line-height:14px;margin:0 3px 0 0}
.m-page-size ul li a {padding:3px 8px;color:#004276;text-decoration:underline}
.m-page-size ul li a:hover {color:#1c94c4;text-decoration:none}
.m-page-size ul li.active a {color:#1c94c4;text-decoration:none;}
.m-page-size ul li.active a:hover {color:#1c94c4}


/* ---------------------------------------- windows */

.m-window {display:none}
.m-window__modal {background:#000;opacity:0.7;z-index:9998;position:fixed;left:0;right:0;top:0;height:100%}
.m-window-block {position:fixed;top:30%;left:30%;background:#fff;z-index:9999;box-shadow:0 0 1px 1px #ccc}
.m-window-header {height:42px;line-height:42px;padding:0 0 0 20px;position:relative;display:block;background:#bababa;color:#242424;font-size:15px;font-weight:700;text-transform:uppercase}
.m-window-close {position:absolute;top:13px;right:20px;font-weight:400;text-decoration:none}
.m-window-close:hover {text-decoration:none}
.m-window-body {padding:15px 20px 0 20px}

.m-window-materials-list {padding:58px 0 20px 0}
.m-window-materials-list ul {list-style-type:none}
.m-window-materials-list ul li {width:142px;height:186px;border:2px solid #fff;margin:0 2px 2px 0;display:block;position:relative;overflow:hidden;display:inline-block}
.m-window-materials-list ul li:hover {border:2px solid #f0f0f0;background:#f0f0f0}
.m-window-materials-list ul li.active {border:2px solid #1c94c4;background:#f9f9f9}
.m-window-materials-list__title {padding:102px 5px 0 5px;font:normal 9pt arial}
.m-window-materials-list__title a {color:#000;text-decoration:none}
.m-window-materials-list__title a:hover {color:#9671e6;text-decoration:underline}
.m-window-materials-list__img {width:112px;height:82px;border:0;position:absolute;top:5px;left:5px}
.m-window-materials-list__date {position:absolute;top:87px;left:5px;font:normal 8pt arial;color:#7f7f7f}
.m-window-materials-list__check {position:absolute;top:5px;left:122px}

.m-window-filters-form {}
.m-window-filters-form form fieldset {border:none}
.m-window-filters-form form legend {display:none}
.m-window-filters-form__cancel {width:24px;height:24px;line-height:24px;text-align:center;position:absolute;top:53px;left:20px}
.m-window-filters-form__cancel:hover {text-decoration:none}
.m-window-filters-form-period {position:absolute;top:52px;left:80px}
.m-window-filters-form-period label {font-size:14px;margin:0 10px}
.m-window-filters-form-period label:first-child {margin:0 10px 0 0}
.m-window-filters-form-period input {width:80px;padding:5px 4px 5px 10px}
.m-window-filters-form__search-input {width:260px;position:absolute;top:53px;right:54px}
.m-window-filters-form__apply {width:24px;height:24px;line-height:24px;text-align:center;position:absolute;top:53px;right:20px}
.m-window-filters-form__apply:hover {text-decoration:none}


/* ---------------------------------------- Messages */

#GlobalMessage {position:fixed;right:1px;bottom:1px}

/* autohide */
#GlobalMessage .MessageType1 {padding:5px 10px;background:#1c94c4;;color:#fff;font-size:10pt}
#GlobalMessage .MessageType1 p {}

#GlobalMessage .MessageType3 {padding:5px 10px;background:#c92000;color:#fff;font-size:10pt}
#GlobalMessage .MessageType3 p {}

/* yellow constant */
#GlobalMessage .MessageType2 {padding:5px 10px;background:#fff3b2;color:#000;font-size:10pt}
#GlobalMessage .MessageType2 p {}
#GlobalMessage .MessageType2 ul {list-style-type:none}
#GlobalMessage .MessageType2 ul li {margin:0 0 5px 0}
#GlobalMessage .MessageType2 ul li a {color:#000;text-decoration:underline}
#GlobalMessage .MessageType2 ul li a:hover {text-decoration:none}

/* ---------------------------------------- ac */

#Form .AutoSuggestInput {position:relative}
#Form div.auto-suggest {position:absolute;top:32px;left:0px;z-index:101;display:none;background:none;border:none}
#Form div.auto-suggest a {text-decoration:none;display:block;width:500px;color:#000;background:#e4e4e4;line-height:24px;padding:0 7px}
#Form div.auto-suggest a:hover {text-decoration:none;color:#000;background:#d0d0d0}
#Form div.auto-suggest a.selected {color:#fff;background:#f2b703}
#Form div.auto-suggest a b.inp {font:normal 11pt arial}

#WinIncutVideo div.auto-suggest {position:absolute;top:85px;right:54px;z-index:101;display:none;background:#fff}
#WinIncutVideo div.auto-suggest a {text-decoration:none;display:block;width:264px;color:#000;background:#e4e4e4;line-height:24px;padding:0 7px}
#WinIncutVideo div.auto-suggest a:hover {text-decoration:none;color:#000;background:#d0d0d0}
#WinIncutVideo div.auto-suggest a.selected {color:#fff;background:#f2b703}
#WinIncutVideo div.auto-suggest a b.inp {font:normal 11pt arial}

#WinIncutPhoto div.auto-suggest {position:absolute;top:85px;right:54px;z-index:101;display:none;background:#fff}
#WinIncutPhoto div.auto-suggest a {text-decoration:none;display:block;width:264px;color:#000;background:#e4e4e4;line-height:24px;padding:0 7px}
#WinIncutPhoto div.auto-suggest a:hover {text-decoration:none;color:#000;background:#d0d0d0}
#WinIncutPhoto div.auto-suggest a.selected {color:#fff;background:#f2b703}
#WinIncutPhoto div.auto-suggest a b.inp {font:normal 11pt arial}


/* tmp  */
.station_mode {width: 200px;display: inline-block;margin-left:10px}

.station_state {text-decoration:none;color: #fff;background-color: #fff;display: inline-block;}
.station_state:hover {text-decoration:none;color: #fff;background-color: #fff}

.station_state.online {text-decoration:none;color: #0f0;background-color: #0f0}
.station_state.online:hover {text-decoration:none;color: #0f0;background-color: #0f0}

.station_state.offline {text-decoration:none;color: #f00;background-color: #f00}
.station_state.offline:hover {text-decoration:none;color: #f00;background-color: #f00}

.station_cpuid {margin-left:20px;/*left:500px; position:relative;*/}

.station_ip {margin-left:20px;/*left:500px; position:relative;*/}

.station_stats {text-decoration:underline;margin-left:20px; /*left:400px; position:relative;*/}
.station_stats:hover {text-decoration:underline;}

.station_breaks {text-decoration:underline;margin-left:20px;/*left:400px; position:relative;*/}
.station_breaks:hover {text-decoration:underline;}

.station_panel {text-decoration:underline;margin-left:20px;/*left:500px; position:relative;*/}
.station_panel:hover {text-decoration:underline;}


/* jqtree */
ul.jqtree-tree .jqtree-title {
    width: 200px;
    display: inline-block;
}

.b-input {width:100px;height:54px;border:0;font-family:HouschkaDemiBold;font-size:16px;color:#c2c2c2;background:none;border-radius:14px;background:#f1f1f1;margin:0px 0px 0px 10px;padding: 0px 0px 0px 10px;}

.circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}